.btn {
    border-radius: 10px;
    border: 1px solid transparent;
    line-height: 1.6;
    padding: 15px;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}