// Styles for congrats popup modal
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: (rgba(1, 1, 1, 0.619));
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;

    .popup {
        margin: 10%;
        padding: 20px;
        background: #fff;
        border-radius: 5px;
        width: 70%;
        position: relative;
        transition: all 5s ease-in-out;
        font-family: 'Gloria Hallelujah', cursive;

        h2 {
            font-size: 4rem;
            text-align: center;
            margin-top: -10px;
        }

        .close {
            color: #fff;
            font-family: 'Arial';
            font-size: 24px;
            text-decoration: none;
            text-align: center;
            background: rgb(247, 33, 33);
            border-radius: 7px;
            height: 40px;
            width: 40px;
            margin: 10px;
            position: absolute;
            right: 0;
            top: 0;
            line-height: 1.6;
            cursor: pointer;

            &:hover {
                background: rgb(148, 32, 32);
            }
        }

        #play-again {
            color: #fff;
            font-size: 1.25rem;
            font-weight: bold;
            background: rgb(179, 179, 13);
            padding: 15px;
            cursor: pointer;

            &:hover {
                background: rgb(194, 194, 29);
            }
        }
    }
}

.modal_show {
    visibility: visible;
    opacity: 1;
}