/*
 * Styles for the Score Panel
 */

 .score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;

    .stars {
        margin: 0;
        padding: 0;
        display: inline-block;
        margin: 0 5px 0 0;

        li {
            font-size: 20px;
            list-style: none;
            display: inline-block;
        }

        .fa-star {
            color: #ffd700;
        }
    }

    .restart {
        float: right;
        cursor: pointer;
    }
}